body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width:600px;
    height: 500px;
    overflow: scroll;
}
.hello img{
position: sticky;
top: 0px;
left: 0;
object-fit: cover;
z-index: -1;
border: 3px solid red;

}
.hello p{
    background-color: rgb(212, 226, 19);
    z-index: 2;

} 
div{
    font-size: 2em;
}
p{
    font-size: 2rem;
}
span{
    font-size: 10vw;
}
u{
    font-size: 10vh;
}
i{
    font-size: 10px;
}